.form-container {
  border: 1px solid blue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  border: 1px solid red;
  width: 300px;
  text-align: start;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.field {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}
input {
  /* outline: none; */
  border: 1px solid rgb(117, 117, 120);
  border-radius: 5px;
  height: 20px;
  padding-left: 10px;
}
